<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Application Confirmation</title>
</head>
<body>
  <h1><strong>Applicants Data</strong></h1>

  <div class="container">
    <div class="row"> 
      <strong>Name: </strong> <%= name %>
    </div>

    <div class="row"> 
      <strong>Email Address: </strong> <%= address %>
    </div>

    <div class="row"> 
      <strong>GPA: </strong> <%= grade %>
    </div>

    <div class="row"> 
      <strong>Background Information: </strong>
      <br>
      <%= backIn %>
    </div>

    <hr>
    <p>Task completed at <%= date %></p>
    <hr>
    
    <a href="/">HOME</a>
  </div>
</body>
</html>